language: ruby
rvm:
  - 2.2.6
  - 2.3.2
branches:
  only:
    - "master"
env:
  -
    RUBY_GC_MALLOC_LIMIT=4000000
    RUBY_GC_MALLOC_LIMIT_MAX=16000000
    RUBY_GC_MALLOC_LIMIT_GROWTH_FACTOR=1.1
    RUBY_GC_OLDMALLOC_LIMIT=16000000
    RUBY_GC_OLDMALLOC_LIMIT_MAX=16000000
before_install: gem install bundler
matrix:
  fast_finish: true
  include:
    - rvm: jruby-9.1.5.0
      env: DISABLE_NOKOGIRI=1
    - rvm: jruby-9.1.5.0
    - rvm: ruby-head
      env: DISABLE_V8=1
    - rvm: ruby-head
  allow_failures:
    - rvm: jruby-9.1.5.0
      env: DISABLE_NOKOGIRI=1
    - rvm: jruby-9.1.5.0
    - rvm: ruby-head
      env: DISABLE_V8=1
    - rvm: ruby-head
script:
  - bundle exec rake
  - bundle exec appraisal install && FOCUS=rouge bundle exec appraisal rake spec
cache: bundler
sudo: false
git:
  depth: 10
