language: ruby
rvm:
  - 2.1.2
  - 2.2.2
  - ruby-head
branches:
  only:
    - "master"
    - "release-4.0.x"
before_install: gem install bundler
matrix:
  include:
    - rvm: jruby-head
      jdk: openjdk7
      env: DISABLE_NOKOGIRI=1
  allow_failures:
    - rvm: jruby-head
      jdk: openjdk7
      env: DISABLE_NOKOGIRI=1
    - rvm: ruby-head
notifications:
  irc:
    channels:
      - "chat.freenode.net#nanoc"
    template:
      - "%{repository}/%{branch} %{commit} %{author}: %{message}"
    use_notice: true
    skip_join: true
cache: bundler
sudo: false
git:
  depth: 10
