language: ruby
rvm:
  - 2.1.1
  - 2.0.0
  - 1.9.3
  - 1.8.7
  - rbx-2.2.6
before_install: gem install bundler
matrix:
  include:
    - rvm: jruby-1.7.11
      env: DISABLE_NOKOGIRI=1
    - rvm: jruby-1.7.11
      env: ""
  allow_failures:
    - rvm: jruby-1.7.11
      env: ""
    - rvm: rbx-2.2.6
    - rvm: 1.8.7
notifications:
  irc:
    channels:
      - "chat.freenode.net#nanoc"
    template:
      - "%{repository}/%{branch} %{commit} %{author}: %{message}"
    use_notice: true
    skip_join: true
