language: ruby

branches:
  only:
    - "master"

stages:
  - warmup
  - test

env:
  global:
    -
      LC_ALL=en_US.UTF_8
      LANG=en_US.UTF_8

jobs:
  include:
    - stage: warmup
      script: true
      rvm: "2.4"

    - stage: warmup
      script: true
      rvm: "2.5"

    - stage: warmup
      script: true
      rvm: "jruby-9.2.0.0"

    - stage: test
      script: bundle exec rake rubocop
      env: JOB=rubocop
      rvm: "2.5"

    - stage: test
      script: bundle exec rake nanoc:test
      env: JOB=test_nanoc
      rvm: "2.4"

    - stage: test
      script: bundle exec rake nanoc_external:test
      env: JOB=test_nanoc_external
      rvm: "2.4"

    - stage: test
      script: bundle exec rake nanoc_live:test
      env: JOB=test_nanoc_live
      rvm: "2.4"

    - stage: test
      script: bundle exec rake guard_nanoc:test
      env: JOB=test_guard_nanoc
      rvm: "2.4"

    - stage: test
      script: bundle exec rake nanoc:test
      env: JOB=test_nanoc
      rvm: "2.5"

    - stage: test
      script: bundle exec rake nanoc_external:test
      env: JOB=test_nanoc_external
      rvm: "2.5"

    - stage: test
      script: bundle exec rake nanoc_live:test
      env: JOB=test_nanoc_live
      rvm: "2.5"

    - stage: test
      script: bundle exec rake guard_nanoc:test
      env: JOB=test_guard_nanoc
      rvm: "2.5"

    - stage: test
      script: bundle exec rake nanoc:test
      env: JOB=test_nanoc DISABLE_NOKOGIRI=1
      rvm: "jruby-9.2.0.0"

    - stage: test
      script: bundle exec rake nanoc_external:test
      env: JOB=test_nanoc_external DISABLE_NOKOGIRI=1
      rvm: "jruby-9.2.0.0"

    - stage: test
      script: bundle exec rake nanoc_live:test
      env: JOB=test_nanoc_live DISABLE_NOKOGIRI=1
      rvm: "jruby-9.2.0.0"

    - stage: test
      script: bundle exec rake guard_nanoc:test
      env: JOB=test_guard_nanoc DISABLE_NOKOGIRI=1
      rvm: "jruby-9.2.0.0"

matrix:
  fast_finish: true
  allow_failures:
    - env: JOB=test_nanoc DISABLE_NOKOGIRI=1
      rvm: "jruby-9.2.0.0"

    - env: JOB=test_nanoc_external DISABLE_NOKOGIRI=1
      rvm: "jruby-9.2.0.0"

    - env: JOB=test_guard_nanoc DISABLE_NOKOGIRI=1
      rvm: "jruby-9.2.0.0"

    - env: JOB=test_nanoc_live
      rvm: "2.4"

    - env: JOB=test_nanoc_live
      rvm: "2.5"

    - env: JOB=test_nanoc_live DISABLE_NOKOGIRI=1
      rvm: "jruby-9.2.0.0"

before_install:
  - gem update --system
  - gem install bundler
  - gem update bundler

script:
  - bundle exec rake test

cache: bundler

sudo: false

git:
  depth: 10
