language: ruby
rvm:
  - 2.2.5
  - 2.3.1
  - ruby-head
branches:
  only:
    - "master"
    - "/^release-/"
env:
  - RUBY_GC_MALLOC_LIMIT=4000000
  - RUBY_GC_MALLOC_LIMIT_MAX=16000000
  - RUBY_GC_MALLOC_LIMIT_GROWTH_FACTOR=1.1
  - RUBY_GC_OLDMALLOC_LIMIT=16000000
  - RUBY_GC_OLDMALLOC_LIMIT_MAX=16000000
before_install: gem install bundler
matrix:
  fast_finish: true
  include:
    - rvm: jruby-9.0.5.0
      env: DISABLE_NOKOGIRI=1
    - rvm: jruby-9.0.5.0
      env: DISABLE_NOKOGIRI=0
  allow_failures:
    - rvm: jruby-9.0.5.0
      env: DISABLE_NOKOGIRI=1
    - rvm: jruby-9.0.5.0
      env: DISABLE_NOKOGIRI=0
    - rvm: ruby-head
cache: bundler
sudo: false
git:
  depth: 10
