---
http_interactions:
- request:
    method: post
    uri: https://validator.nu/?out=json&parser=html&showsource=yes
    body:
      encoding: UTF-8
      string: <!DOCTYPE html><html><head><meta charset="utf-8"><title>Hello</title></head><body><h1>Hi!</h1></body>
    headers:
      Content-Type:
      - text/html; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"messages":[],"source":{"type":"text/html","encoding":"UTF-8","code":"<!DOCTYPE
        html><html><head><meta charset=\"utf-8\"><title>Hello</title></head><body><h1>Hi!</h1></body>"}}

'
  recorded_at: Fri, 10 Mar 2017 20:24:28 GMT
recorded_with: VCR 3.0.3
