<div style="margin: 30px 0; padding: 10px; border: 2px solid red; background: #fee"><strong>WARNING:</strong> This documentation applies to nanoc 3.2, which is not the latest version. Please consult the <a href="http://nanoc.stoneship.org/docs/api/3.3/<%= url_for(object, nil, false).sub('Nanoc3', 'Nanoc').sub('top-level-namespace.html', '') %>">up-to-date API documentation</a> instead.</div>
