<p class="note nonpublic">
  <strong>This <%= object.type %> is not part of the public API.</strong> 
  Do not rely on its presence; future versions may no longer contain this <%= object.type %>.
</p>
