<p>This page is called "<%= @page.title %>".</p>
<p><% if @page.o_rly? %>ya rly<% else %>oh noes<% end %></p> <!-- what a lame test -->
<p>This page <% if @page.sucks? %>sucks<% else %>rocks<% end %>.</p>
